.taskItem {
  /* background: #333; */
  box-shadow: 2px 2px 2px 1px #ccc;
  padding: .5rem;

}

.taskItem svg {
  color: #fff;
  fill: #fff;
}

.taskItem span,
a {
  /* margin: .4rem; */
  font-size: 20px;
}

.taskItem a {
  font-size: 22px;
  font-weight: 500;
}