:root {
  /* Base colors */
  --yellow-100: #ffc600;
  --yellow-200: #eab308;
  --yellow-300: #ca8a04;
  --black: #000000;
  --white: #fff;
  --gray-10: #f3f4f6;
  --gray-20: #e5e7eb;
  --gray-50: #d1d5db;
  --gray-100: #64748b;
  --gray-200: #94a3b8;
  --gray-300: #9ca3af;
  --gray-400: #6b7280;
  --gray-500: #4b5563;
  --blue-100: #334155;
  --blue-200: #1e293b;
  --blue-300: #0f172a;
  --green: #16a34a;
  --red-100: #ff5470;
  --red-200: #dc2626;

  /* Colors intentions */
  --background: var(--white);
  --header-background: var(--gray-10);
  --footer-background: var(--gray-10);
  --card-background: var(--gray-20);
  --text: var(--blue-200);
  --box-background: var(--gray-10);
  --line-color: var(--gray-50);
  --link-color: var(--blue-300);
  --border-color: var(--yellow-100);
  --button-background: var(--yellow-200);
  --highlight: var(--yellow-200);

  /* Styles */
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 5px;
  --border-radius-xl: 6px;
  --border-radius-xxl: 8px;

  /* fonts */
  --body-font: "Fira Code", monospace;
  --header-font: "Roboto Mono", monospace;

  /* Type */
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --small-text: 0.8em;
  --base-font-size: 100%; /* 16px */
  --header-height: 4.652em;

  /* Elevations */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;

  /* Positioning */
  --container-padding: 5%;
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  box-sizing: inherit;
} /*18px*/

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

.title h1 {
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
}

body {
  min-height: 100vh;
  background: var(--background);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  color: var(--text);
  transition: background 0.2s, color 0.3s ease-in-out;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.form-group {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 0.5em;
}
input {
  border-radius: 4px;
  border: 1px solid var(var(--blue-300));
  padding: 0.2em 0.4em;
  font-size: var(--base-font-size);
  box-shadow: var(--shadow-md);
}

button {
  border: 1px solid var(--blue-300);
  border-radius: 4px;
  font-size: var(--base-font-size);
  background: var(--yellow-100);
  cursor: pointer;
  min-width: 6em;
}

.page-title {
  font-size: var(--h1);
  font-weight: 700;
  color: var(--text);
  margin: 0;
  padding: 0;
  text-align: center;
}
